.App {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}

.header {
  width: 100%;
  height: 60px;
  padding: 10px 5%;
  background-color: rgb(85, 85, 85);
}

.headerTitle {
  color: #FFFFF1;
}

@keyframes magic {
  from {
    background-position: 0 0;
 }
  to {
    background-position: 100% 100%;
 }
}

.headerTitle {
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 24px;
  font-weight: 700;
  background-image: linear-gradient(to right, #fd1d1d, #fcb045, #fcef45, #81fc45, #45d8fc, #5245fc, #af45fc);
	background-size: 200% 200%;
  animation: magic 3s infinite linear alternate;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
