@mixin flex() {
    display: flex;
    align-items: center;
}

.header {
    @include flex();
    justify-content: space-around;

    position: absolute;
    top: 0;
    left: 0;
    height: 75px;

    background-color: #1A1A1D;
    width: 100%;
    color: #FFFFF1;
}