body 
  margin: 0
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Poppins'
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  // box-sizing: border-box
  // min-height: min-content
  // min-width: 100%
  // overflow-y: hidden
  // padding-bottom: 175px


code 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

*
  box-sizing: border-box

html, body 
  // width: 100%
  padding: 0
  margin: 0
  // min-width: 100vw
  box-sizing: border-box
  min-height: 100vh


// IMPORTANT! Удаляет сраный outline в BOX в модальном окне
.MuiBox-root
  outline: none

