.notFoundPage {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5%; */
    height: 90vh;
    width: 100vw;
    font-size: 2em;
}

.notFoundMessage {
    margin-top: 10px;
}