.settingsApp {
    // margin-top: 75px;
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    .settingsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 5px 10px;
        .settingContainerChild {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        p {
            width: 100%;
            text-align: center;
        }
    }
}